/* CSS reset */
* {
  box-sizing: border-box;
}

body {
  background: url('assets/freedom.jpg') no-repeat center fixed;
  background-size: cover;
  color: #333;
  font-family: 'Julius Sans One', sans-serif;
}

.float-right {
  float: right;

}

.navi {
  margin-top: 5%;
  list-style: none;
  padding: 10%;
}

li {
  float: right;
}

.wrapper {
  font-family: 'Julius Sans One', sans-serif;
  position: relative;
  top: 5rem;
  width: 90%;
  text-align: center;
  padding-top: 2rem;
}

.quote {
  font-size: 2.5rem;
  padding: 1.5rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
  margin: 15% auto;
}
