/* CSS reset */
* {
  box-sizing: border-box;
  }

body {
  background: url('assets/freedom.jpg') no-repeat center fixed;
  background-size: cover;
  color: #333;
  font-family: 'Julius Sans One', sans-serif;
}

.float-right {
  float: right;
}
  .navi {
    float: right;
    margin-top: 1%;
    list-style: none;
  }

  li {
    float: right
  }
  
  .wrapper {
    
    position: relative;
    top: 5rem;
    width: 90%;
    text-align: center;
    padding-top: 2rem;
  }

  .quote {
    font-size: 2.5rem;
    padding: 1.5rem;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
    margin: 15% auto;
  }
